$font-family: 'Manrope';

.secondConfirmHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vw;

    h1 {
        margin-left: 37%;
    }
}

.secondConfirmForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >input,
    select {
        margin: 1vw;
        width: 343px;
        height: 64px;
        box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        font-family: $font-family;
        padding: 22px 16px;
    }

    >input::-webkit-input-placeholder {
        font-family: $font-family;
        color: #99A3B3;
        font-weight: 500;
        padding: 22px 16px;
    }

    >input:-moz-placeholder {
        font-family: $font-family;
        color: #99A3B3;
        font-weight: 500;
        padding: 22px 16px;
    }

    .error {
        border: 2px solid rgb(228, 111, 111);
        box-shadow: 13px 15px 25px 1px rgba(238, 74, 74, 0.32);
        color: red;
    }

    .errorMessage {
        color: red;
        font-weight: 600;
    }
}

.secondConfirmSlider {
    width: 700px;

    .swiper-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.secondConfirmAim {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-weight: 700;
        font-size: 14px;
        text-align: left;

    }
}

.secondConfirmList {
    font-weight: 500;
    font-size: 14px;
    color: #566681;
    padding: 5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;


    >li a {
        text-decoration: none;
        color: #00a9ff;
    }
}

@media (max-width: 700px) {
    .secondConfirmSlider {
        width: 350px;
    }
}