.CloseButton {
    cursor: pointer;
  
 

}

.CloseButton:before,
.CloseButton:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 3px;
    background: rgb(0, 0, 0);
    
}

.CloseButton:before {
    transform: rotate(45deg);
}

.CloseButton:after {
    transform: rotate(-45deg);
}