.purpose__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    width: 160px;
    background: #FFFFFF;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 0vw 1vw 1vw;
    margin: 1vw;

    a {
        color: #2AA65C;
        font-weight: 700;
        font-size: 12px;
        text-decoration: none;
    }

    .purpose__title {
        >h1 {
            font-weight: 700;
            font-size: 14px;
        }

        >p {
            font-weight: 500;
            font-size: 11px;
            color: #57667F;
            text-align: left;
        }
    }
}